* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 82px;
}

.text2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
}

.text3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
}

.text4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 41px;
}

.text5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  color: #274C5B;
}

.text6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  color: #274C5B;
}

.btn1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 39px 29px;
  gap: 10px;
  background: #274C5B;
  border-radius: 16px;
}

.btn11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 39px 29px;
  gap: 10px;
  background: #274C5B;
  border-radius: 16px;
}

.btn2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 39px 29px;
  gap: 10px;
  background: #EFD372;
  border-radius: 16px;
}

.btn3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 39px 29px;
  gap: 10px;
  background: #FFFFFF;
  border: 1px solid #274C5B;
  border-radius: 16px;
}

.header {
  width: 100%;
  padding: 75px 162px;
}
.header .h-all {
  display: flex;
  justify-content: space-between;
}
.header .h-all .h-left {
  display: flex;
  align-items: center;
}
.header .h-all .h-left .logopic img {
  width: 36px;
}
.header .h-all .h-left .logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  margin: 0 0 0 8px;
}
.header .h-all .h-middle {
  display: flex;
  align-items: center;
}
.header .h-all .h-middle p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #274C5B;
  margin: 0 20px;
}
.header .h-all .h-middle p a {
  text-decoration: none;
  color: #274C5B;
}
.header .h-all .h-right {
  display: flex;
  align-items: center;
}
.header .h-all .h-right .search {
  width: 376px;
  padding: 5px;
  margin: 0 18px 0 0;
  background: #FAFAFA;
  border-radius: 36px;
  display: flex;
}
.header .h-all .h-right .search input {
  width: 100%;
  background: rgba(212, 212, 212, 0);
  border: 0;
  border-radius: 100px;
}
.header .h-all .h-right .search .sicon img {
  width: 56px;
}
.header .h-all .h-right .cart {
  border: 1px solid #E0E0E0;
  border-radius: 33px;
  display: flex;
  align-items: center;
  padding: 5px 6px;
}
.header .h-all .h-right .cart .cicon img {
  width: 56px;
}
.header .h-all .h-right .cart a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}
.header .h-all .h-right .cart p {
  margin: 0 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.section {
  position: relative;
  width: 100%;
}
.section .image {
  position: relative;
  width: 100%;
}
.section .image .back {
  position: absolute;
  width: 100%;
}
.section .image .front {
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  padding: 0 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  position: absolute;
}
.content .btn2 {
  width: 220px;
  height: 79px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #274C5B;
}
.content .desc {
  width: 530px;
}
.content .title {
  font-family: "Yellowtail", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */
  color: #68A47F;
}

.section-2 {
  display: flex;
  justify-content: center;
  padding: 145px 0;
}
.section-2 .left, .section-2 .right {
  margin: 0 30px 0 0;
  position: relative;
}
.section-2 .r .title {
  color: #7EB693;
}
.section-2 .r .desc {
  color: #274C5B;
}
.section-2 .content2 {
  color: white;
  padding: 0 60px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-2 .content2 .title {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
}
.section-2 .content2 .desc {
  width: 277.63px;
}

.section-3 {
  position: relative;
}
.section-3 .img {
  background: #F9F8F8;
}
.section-3 .img img {
  width: 100%;
}
.section-3 .content3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.section-3 .content3 .cnt {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-3 .content3 .cnt .title {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */
  color: #7EB693;
}
.section-3 .content3 .cnt .desc {
  width: 702px;
  color: #274C5B;
}
.section-3 .content3 .cnt .pr {
  width: 690px;
  height: 90px;
  margin: 14px 0 46px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  /* or 30px */
  color: #525C60;
}
.section-3 .content3 .cnt .btn1 {
  margin: 46px 0 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  width: 220px;
  height: 79px;
}
.section-3 .content3 .cnt .list .item {
  width: 564px;
  display: flex;
}
.section-3 .content3 .cnt .list .item .left, .section-3 .content3 .cnt .list .item .right {
  width: 100%;
  margin: 0 19px 0 0;
}
.section-3 .content3 .cnt .list .item .pr {
  margin: 7px 0 0;
  width: 444px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  /* or 30px */
  color: #525C60;
}

.section-4 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 176px 0;
}
.section-4 .container {
  width: 80%;
}
.section-4 .text2 {
  color: #274C5B;
}
.section-4 .title {
  width: 128px;
  height: 49px;
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */
  color: #7EB693;
}
.section-4 .s4-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 40px;
}
.section-4 .s4-bottom {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 20px;
}
.section-4 .s4-bottom .product-cart {
  display: inline-block;
  background: #F9F8F8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.section-4 .s4-bottom .product-cart .protitle {
  padding: 29px 30px 13px;
}
.section-4 .s4-bottom .product-cart .protitle p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px 6px;
  gap: 10px;
  width: 96px;
  height: 31px;
  background: #274C5B;
  border-radius: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.section-4 .s4-bottom .product-cart .proimage img {
  width: 100%;
}
.section-4 .s4-bottom .product-cart .prodesc {
  padding: 0 30px 29px;
}
.section-4 .s4-bottom .product-cart .prodesc .pd-top {
  padding: 0 0 13px 0;
  border-bottom: 1px solid #DEDDDD;
  margin: 0 0 6px 0;
}
.section-4 .s4-bottom .product-cart .prodesc .pd-top p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #274C5B;
}
.section-4 .s4-bottom .product-cart .prodesc .pd-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-4 .s4-bottom .product-cart .prodesc .pd-bottom .pdbl {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  text-align: center;
  color: #274C5B;
}
.section-4 .s4-bottom .product-cart .prodesc .pd-bottom .pdbl span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #B8B8B8;
  margin: 0 8px 0 0;
}
.section-4 .s4-bottom .product-cart .prodesc .pdbr .pd-star i {
  color: #FFA858;
  font-size: 15px;
}
.section-4 .s4-button {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  padding: 122px 0;
}

.section-5 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.section-5 .s5-container {
  width: 60%;
}
.section-5 .backimg {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.section-5 .backimg img {
  width: 100%;
}
.section-5 .s5-content {
  padding: 164px 0;
}
.section-5 .s5-content .s-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 40px;
}
.section-5 .s5-content .s-top .title {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #7EB693;
}
.section-5 .s5-content .s-top .desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  text-align: center;
  color: #274C5B;
}
.section-5 .s5-content .smiddle {
  border-bottom: 2px solid #E0E0E0;
  padding: 0 0 100px;
}
.section-5 .s5-content .smiddle .review-cart .pic {
  width: 115px;
  height: 115px;
  margin-bottom: 20px;
}
.section-5 .s5-content .smiddle .review-cart .pic img {
  width: 100%;
  border-radius: 50%;
}
.section-5 .s5-content .smiddle .review-cart .stars {
  color: #FFA858;
}
.section-5 .s5-content .smiddle .review-cart .desc {
  margin: 25px 0 20px;
  width: 800px;
}
.section-5 .s5-content .smiddle .review-cart .desc p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  /* or 30px */
  text-align: center;
  color: #525C60;
}
.section-5 .s5-content .smiddle .review-cart .name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  color: #274C5B;
}
.section-5 .s5-content .smiddle .review-cart .pos {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 165.4%;
  /* identical to box height, or 25px */
  color: #525C60;
}
.section-5 .s5-content .sbottom {
  padding: 100px 0 0;
}
.section-5 .s5-content .nav-dots {
  margin-top: 19px;
}
.section-5 .s5-content .nav-dots .dots {
  margin: 0 5px 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #C4C4C4;
}
.section-5 .s5-content .nav-dots .filled {
  background: #7EB693;
}

.circle-counters {
  width: 211px;
  height: 211px;
  border: 3px solid #7EB693;
  border-radius: 50%;
  padding: 11px;
}
.circle-counters .circle-inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #F1F1F1;
}
.circle-counters .circle-inner .circle-content p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  text-align: center;
  margin: 0;
  color: #274C5B;
}
.circle-counters .circle-inner .circle-content span {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 165.4%;
  /* identical to box height, or 30px */
  text-align: center;
  color: #274C5B;
}

.section-6 {
  width: 100%;
  background: #274C5B;
  display: flex;
  justify-content: center;
  padding: 200px 0;
}
.section-6 .product-cart {
  width: 335px;
  display: inline-block;
  background: #F9F8F8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.section-6 .product-cart .protitle {
  padding: 29px 30px 13px;
}
.section-6 .product-cart .protitle p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px 6px;
  gap: 10px;
  width: 96px;
  height: 31px;
  background: #274C5B;
  border-radius: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.section-6 .product-cart .proimage img {
  width: 100%;
}
.section-6 .product-cart .prodesc {
  padding: 0 30px 29px;
}
.section-6 .product-cart .prodesc .pd-top {
  padding: 0 0 13px 0;
  border-bottom: 1px solid #DEDDDD;
  margin: 0 0 6px 0;
}
.section-6 .product-cart .prodesc .pd-top p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #274C5B;
}
.section-6 .product-cart .prodesc .pd-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-6 .product-cart .prodesc .pd-bottom .pdbl {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  text-align: center;
  color: #274C5B;
}
.section-6 .product-cart .prodesc .pd-bottom .pdbl span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #B8B8B8;
  margin: 0 8px 0 0;
}
.section-6 .product-cart .prodesc .pdbr .pd-star i {
  color: #FFA858;
  font-size: 15px;
}
.section-6 p {
  margin: 0;
}
.section-6 .s5-top {
  margin-bottom: 50px;
}
.section-6 .thecontainer {
  width: 75%;
}
.section-6 .title {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */
  color: #7EB693;
}
.section-6 .desc {
  width: 580px;
  height: 59px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  color: #FFFFFF;
}
.section-6 .btn2 {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #274C5B;
}

.section-7 {
  width: 100%;
}
.section-7 p {
  margin: 0;
}
.section-7 .s7-left, .section-7 .s7-right {
  width: 50%;
}
.section-7 .s7-left img {
  width: 100%;
}
.section-7 .s7-right {
  padding: 100px;
  position: relative;
}
.section-7 .s7-right .s7r-content {
  padding: 80px 90px;
  background: #fff;
  border-radius: 30px;
  position: absolute;
  z-index: 3;
  left: -10%;
}
.section-7 .s7-right .s7r-content .title {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */
  color: #7EB693;
}
.section-7 .s7-right .s7r-content .desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  color: #274C5B;
}
.section-7 .s7-right .s7r-content .h1 {
  margin-top: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #274C5B;
}
.section-7 .s7-right .s7r-content .h2 {
  margin-top: 7px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  /* or 30px */
  color: #525C60;
}

.section-8 {
  padding: 187px 0;
  background: #F1F8F4;
}
.section-8 p {
  margin: 0;
}
.section-8 .s8-content {
  position: relative;
  width: 30%;
}
.section-8 .s8-content img {
  width: 100%;
}
.section-8 .s8-content .label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 100px;
  background: #FFFFFF;
  border-radius: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #274C5B;
}

.hidden {
  display: none;
}

.section-9 {
  width: 100%;
  padding: 177px 260px;
}
.section-9 p {
  margin: 0;
}
.section-9 .s9-top {
  display: flex;
  align-items: end;
  width: 100%;
  justify-content: space-between;
}
.section-9 .s9-top .s9t-left, .section-9 .s9-top .s9t-right {
  width: 50%;
}
.section-9 .s9-top .title {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */
  color: #7EB693;
}
.section-9 .s9-top .desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  color: #274C5B;
}
.section-9 .s9-top .btn3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #274C5B;
}
.section-9 .s9-top .s9t-right {
  display: flex;
  justify-content: end;
}
.section-9 .s9-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-9 .s9-bottom .s9b-left, .section-9 .s9-bottom .s9b-right {
  width: 48.5%;
  height: 525px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 30px;
}
.section-9 .s9-bottom .s9b-left {
  background-image: url("./greens.png");
}
.section-9 .s9-bottom .s9b-right {
  background-image: url("./tomatos.png");
}
.section-9 .s9-bottom .cal {
  position: absolute;
  border-radius: 50%;
  padding: 15px 20px;
  top: 7%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.section-9 .s9-bottom .cal p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #274C5B;
}
.section-9 .s9-bottom .info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 65%;
  position: absolute;
  background: #fff;
  left: 50%;
  transform: translate(-50%);
  bottom: -15%;
  box-shadow: 0px 20px 35px rgba(167, 167, 167, 0.25);
  border-radius: 31px 34px 30px 30px;
  padding: 46px 57px;
}
.section-9 .s9-bottom .info-card .info-card-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #274C5B;
}
.section-9 .s9-bottom .info-card .info-card-name i {
  font-size: 18px;
  color: #EFD372;
  display: inline-block;
  margin-right: 8px;
}
.section-9 .s9-bottom .info-card .info-card-info h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  color: #274C5B;
}
.section-9 .s9-bottom .info-card .info-card-info p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  /* or 30px */
  color: #525C60;
}
.section-9 .s9-bottom .info-card .info-card-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #274C5B;
  display: flex;
  justify-content: start;
}

.section-10 {
  width: 100%;
  padding: 100px 260px 70px;
}
.section-10 .s10-inner {
  border-radius: 30px;
  width: 100%;
  padding: 105px 71px;
  background-image: url("./freshorange.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-10 .s10-inner .s10-left {
  width: 28%;
}
.section-10 .s10-inner .s10-left h3 {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  color: #fff;
}
.section-10 .s10-inner .s10-right {
  padding: 0 0 0 70px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.section-10 .s10-inner .s10-right .subscribe-email {
  width: 59%;
  padding: 28px 23px;
  border: 0;
  border-radius: 20px;
}
.section-10 .s10-inner .s10-right .subscribe-email::-moz-placeholder {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #ABABAB;
}
.section-10 .s10-inner .s10-right .subscribe-email::placeholder {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #ABABAB;
}
.section-10 .s10-inner .s10-right .subscribe-btn {
  width: 40%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.footer {
  padding: 54px 0 0;
}
.footer h6, .footer h5, .footer h3, .footer p {
  margin: 0;
}
.footer .ftop {
  padding: 0 0 102px;
}
.footer .ftop .fl, .footer .ftop .fm, .footer .ftop .fr {
  width: 33%;
  padding: 0 51px;
}
.footer .ftop h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #274C5B;
  margin: 0 0 32px;
}
.footer .ftop h6 {
  margin: 0 0 32px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  /* or 30px */
  text-align: center;
  color: #525C60;
}
.footer .ftop .fl {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.footer .ftop .fl .fline {
  margin: 0 0 40px;
}
.footer .ftop .fl h5 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 165%;
  /* or 30px */
  text-align: right;
  color: #525C60;
}
.footer .ftop .fl h6 {
  margin: 0 0 32px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  /* or 30px */
  text-align: center;
  color: #525C60;
}
.footer .ftop .fl p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  /* or 30px */
  color: #525C60;
}
.footer .ftop .fm {
  border-left: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
}
.footer .ftop .fm img {
  width: 37px;
  margin-right: 8px;
}
.footer .ftop .fm .fm-top {
  display: flex;
  align-items: center;
  margin: 0 0 26px;
}
.footer .ftop .fm .fm-top h2 {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  /* identical to box height */
  color: #274C5B;
}
.footer .ftop .fm .fm-mid {
  margin: 0 0 49px;
}
.footer .ftop .fm .fm-bot i {
  color: #274C5B;
  padding: 24px;
  background: #EFF6F1;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}
.footer .ftop .fr {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer .fbottom {
  padding: 17px 0;
  border-top: 1px solid #D4D4D4;
}
.footer .fbottom p {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  /* identical to box height, or 30px */
  text-align: center;
  color: #525C60;
}

@media screen and (max-width: 768px) {
  .h-middle, .h-right {
    display: none !important;
  }
  .section-2 {
    flex-direction: column;
    align-items: center;
  }
  .section-2 .left {
    margin: 0 0 20px;
  }
  .section-3 .content3 {
    flex-direction: column !important;
  }
  .section-3 .content3 .cnt {
    width: 100% !important;
  }
  .section-4 .product-cart {
    display: none !important;
  }
  .section-4 .product-cart:nth-child(1), .section-4 .product-cart:nth-child(2) {
    display: block !important;
  }
  .section-4 .s4-bottom {
    grid-template-columns: 50% 50%;
  }
  .section-5 {
    width: 100%;
  }
  .section-5 .s5-content #s-middle .review-cart .desc {
    width: 100% !important;
    font-size: 30px !important;
  }
  .section-5 .s5-container {
    width: 100% !important;
    margin: 0;
  }
  .section-5 .backimg {
    background-color: #B8B8B8;
    width: 100%;
    height: 100%;
  }
  .section-5 .backimg img {
    display: none;
  }
  .section-5 .circle-counters {
    display: none;
  }
  .section-5 .circle-counters:first-child {
    display: inline-block;
  }
  .section-6 .s5-top {
    flex-direction: column;
    text-align: center;
  }
  .section-6 .s5-top .s5-left {
    margin-bottom: 20px;
  }
  .section-6 .s5-rest {
    flex-direction: column;
    align-items: center;
  }
  .section-6 .s5-rest .product-cart {
    display: none;
  }
  .section-6 .s5-rest .product-cart:first-child {
    display: block;
  }
  .section-7 .s7-left {
    display: none;
  }
  .section-7 .s7-right {
    width: 100%;
    padding: 0;
  }
  .section-7 .s7-right .s7r-content {
    padding: 10px;
    text-align: center;
    position: relative;
    left: 0;
  }
  .section-8 {
    flex-direction: column;
    align-items: center;
  }
  .section-8 .s8-content {
    margin: 20px 0;
    width: 90%;
  }
  .section-8 .s8-content img {
    width: 100%;
  }
  .section-1 .content {
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */